<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All Prerequisites.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DCM Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DICOMPrint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Decompress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OsiriX API.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>OsiriX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Unzip Binaries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A2F58D8078D118700C514A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2F5931078D148300C514A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0B3A3E067526CD00908593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB0F3A2B1046BD2B004129DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB28B42E05B7921E00A9906C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB724F300ADE6ECB00A212A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDF6C600B46FE99008B45B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
